In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import Column, Integer, String,Float
from sqlalchemy.ext.declarative import declarative_base

In [3]:
#Create a base class for declaring class definitions to produce table objects
Base = declarative_base()

C:\Users\ecari\AppData\Local\Temp\ipykernel_30540\1447968813.py:2: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [4]:
#Define Light Pollution Table schema with ' ' as primary key
class lightpollution (Base):
    __tablename__='lightpollution'
    table_key = Column(Integer, primary_key=True)
    ObsDateTime = Column(String)
    Latitude = Column(Float)
    Longitude = Column(Float)
    Elevation = Column(Float)
    NELM = Column(Float)
    Constellation = Column(String)
    State = Column(String)
    Bortle_Class = Column(String);

In [5]:
# File to Load (Remember to Change These)
lightdata = Path("lightpol_final.csv")

# Read School and Student Data File and store into Pandas DataFrames
lightpollution = pd.read_csv(lightdata)
lightpollution = lightpollution.rename(columns={'Bortle Class':'Bortle_Class'})
lightpollution = lightpollution.reset_index(names=['table_key'])
lightpollution

,table_key,ObsDateTime,Latitude,Longitude,Elevation,NELM,Constellation,State,Bortle_Class
0,0,2022-11-21 20:45:00+00:00,31.334094,-109.521212,1249.21000,0.0,Canis Major,Arizona,Brighter rural
1,1,2022-11-21 20:36:00+00:00,31.334086,-109.503952,1258.78000,0.0,Canis Major,Arizona,Brighter rural
2,2,2022-11-21 20:32:00+00:00,31.334107,-109.487273,1288.52000,0.0,Canis Major,Arizona,Brighter rural
3,3,2022-11-21 20:26:00+00:00,31.334069,-109.470129,1311.26000,5.0,Canis Major,Arizona,Brighter rural
4,4,2022-11-21 20:22:00+00:00,31.334055,-109.453368,1340.61000,5.0,Canis Major,Arizona,Brighter rural
...,...,...,...,...,...,...,...,...,...
5851,5851,2022-01-02 15:52:00+00:00,38.662200,-78.447200,260.95400,1.0,Orion,Virginia,Brighter rural
5852,5852,2022-01-02 12:01:00+00:00,36.904900,-111.460000,1298.82000,4.0,Orion,Arizona,Brighter rural
5853,5853,2022-01-02 13:23:00+00:00,29.592900,-95.110500,6.99699,3.0,Orion,Texas,Brighter rural
5854,5854,2022-01-01 07:15:00+00:00,38.589000,-78.423900,383.77300,4.0,Orion,Virginia,Brighter rural
5855,5855,2021-12-31 18:32:00+00:00,38.888000,-119.819000,1461.36000,4.0,Orion,Nevada,Brighter rural

In [6]:
# create engine to Resources
engine = create_engine("sqlite:///./final_lightpollution.sqlite")
Base.metadata.create_all(engine)

In [7]:
# reflect an existing database into a new model
# Base = automap_base()
# reflect the tables
# Base.prepare(autoload_with=engine)

In [8]:
# View all of the classes that automap found
#Base.classes.keys()

In [9]:
# Save references to each table
#lightpollution = Base.classes.lightpollution

In [10]:
# Create our session (link) from Python to the DB
session = Session(bind=engine)

In [11]:
# Load data into database table
lightpollution.to_sql(name="lightpollution", con=engine, if_exists='append',index=False)

5856

In [12]:
# Close Session
session.close()