In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import Column, Integer, String,Float
from sqlalchemy.ext.declarative import declarative_base

In [3]:
#Create a base class for declaring class definitions to produce table objects
Base = declarative_base()

In [4]:
#Define Light Pollution Table schema with ' ' as primary key
class lightpollution (Base):
    __tablename__='lightpollution'
    table_key = Column(Integer, primary_key=True)
    ObsDateTime = Column(String)
    Latitude = Column(Float)
    Longitude = Column(Float)
    Elevation = Column(Float)
    NELM = Column(Float)
    Constellation = Column(String)
    State = Column(String)
    Bortle_Class = Column(String);

In [7]:
# File to Load (Remember to Change These)
lightdata = Path("Resources/lightpol_final.csv")

# Read School and Student Data File and store into Pandas DataFrames
lightpollution = pd.read_csv(lightdata)
lightpollution = lightpollution.rename(columns={'Bortle Class':'Bortle_Class'})
lightpollution = lightpollution.reset_index(names=['table_key'])
lightpollution

,table_key,ObsDateTime,Latitude,Longitude,Elevation,NELM,Constellation,State,Bortle_Class
0,0,2022-11-21 20:45:00+00:00,31.334094,-109.521212,1249.21000,0.0,Canis Major,Arizona,Semi-Suburban/Transition sky
1,1,2022-11-21 20:36:00+00:00,31.334086,-109.503952,1258.78000,0.0,Canis Major,Arizona,Semi-Suburban/Transition sky
2,2,2022-11-21 20:32:00+00:00,31.334107,-109.487273,1288.52000,0.0,Canis Major,Arizona,Semi-Suburban/Transition sky
3,3,2022-11-21 20:26:00+00:00,31.334069,-109.470129,1311.26000,5.0,Canis Major,Arizona,Semi-Suburban/Transition sky
4,4,2022-11-21 20:22:00+00:00,31.334055,-109.453368,1340.61000,5.0,Canis Major,Arizona,Semi-Suburban/Transition sky
...,...,...,...,...,...,...,...,...,...
5851,5851,2022-01-02 15:52:00+00:00,38.662200,-78.447200,260.95400,1.0,Orion,Virginia,Semi-Suburban/Transition sky
5852,5852,2022-01-02 12:01:00+00:00,36.904900,-111.460000,1298.82000,4.0,Orion,Arizona,Semi-Suburban/Transition sky
5853,5853,2022-01-02 13:23:00+00:00,29.592900,-95.110500,6.99699,3.0,Orion,Texas,Semi-Suburban/Transition sky
5854,5854,2022-01-01 07:15:00+00:00,38.589000,-78.423900,383.77300,4.0,Orion,Virginia,Semi-Suburban/Transition sky
5855,5855,2021-12-31 18:32:00+00:00,38.888000,-119.819000,1461.36000,4.0,Orion,Nevada,Semi-Suburban/Transition sky

In [8]:
# create engine to Resources
engine = create_engine("sqlite:///./final_lightpollution.sqlite")
Base.metadata.create_all(engine)

In [9]:
# reflect an existing database into a new model
# Base = automap_base()
# reflect the tables
# Base.prepare(autoload_with=engine)

In [ ]:
# View all of the classes that automap found
#Base.classes.keys()

In [ ]:
# Save references to each table
#lightpollution = Base.classes.lightpollution

In [10]:
# Create our session (link) from Python to the DB
session = Session(bind=engine)

In [11]:
# Load data into database table
lightpollution.to_sql(name="lightpollution", con=engine, if_exists='append',index=False)

IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: lightpollution.table_key
[SQL: INSERT INTO lightpollution (table_key, "ObsDateTime", "Latitude", "Longitude", "Elevation", "NELM", "Constellation", "State", "Bortle_Class") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: ((0, '2022-11-21 20:45:00+00:00', 31.33409406268104, -109.5212115221496, 1249.21, 0.0, 'Canis Major', 'Arizona', 'Semi-Suburban/Transition sky'), (1, '2022-11-21 20:36:00+00:00', 31.3340855129161, -109.5039518045475, 1258.78, 0.0, 'Canis Major', 'Arizona', 'Semi-Suburban/Transition sky'), (2, '2022-11-21 20:32:00+00:00', 31.33410697353808, -109.48727293291188, 1288.52, 0.0, 'Canis Major', 'Arizona', 'Semi-Suburban/Transition sky'), (3, '2022-11-21 20:26:00+00:00', 31.334068966939068, -109.47012939229732, 1311.26, 5.0, 'Canis Major', 'Arizona', 'Semi-Suburban/Transition sky'), (4, '2022-11-21 20:22:00+00:00', 31.33405526151352, -109.45336752216892, 1340.61, 5.0, 'Canis Major', 'Arizona', 'Semi-Suburban/Transition sky'), (5, '2022-11-21 20:18:00+00:00', 31.334184673717424, -109.41959486249526, 1405.68, 6.0, 'Canis Major', 'Arizona', 'Semi-Suburban/Transition sky'), (6, '2022-11-21 20:14:00+00:00', 31.334125949829943, -109.41960952872309, 1405.75, 6.0, 'Canis Major', 'Arizona', 'Semi-Suburban/Transition sky'), (7, '2022-11-21 20:08:00+00:00', 31.3341328, -109.4025904, 1457.63, 6.0, 'Canis Major', 'Arizona', 'Semi-Suburban/Transition sky')  ... displaying 10 of 5856 total bound parameter sets ...  (5854, '2022-01-01 07:15:00+00:00', 38.589, -78.4239, 383.773, 4.0, 'Orion', 'Virginia', 'Semi-Suburban/Transition sky'), (5855, '2021-12-31 18:32:00+00:00', 38.888, -119.819, 1461.36, 4.0, 'Orion', 'Nevada', 'Semi-Suburban/Transition sky'))]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [ ]:
# Close Session
session.close()