In [1]:
import requests
from api_keys import weather_api_key
import pandas as pd
import numpy as np
import datetime as dt
from splinter import Browser
from bs4 import BeautifulSoup
pd.set_option('max_colwidth', 400)

In [2]:
# json requests:

#skyPollu_url = 'https://s3.us-west-2.amazonaws.com/noirlab.edu.cee.prod/globeatnight/documents/GaN2022.json?AWSAccessKeyId=ASIAWX3YSJVTMEO7IUGI&Signature=QYJv5wjvxSZ%2BFhmSsE%2B0ji30sZo%3D&x-amz-security-token=IQoJb3JpZ2luX2VjEAEaCXVzLXdlc3QtMiJGMEQCID3Y7FrRLzLZtxrC0KnS19zZALc%2B8sETmEAycNb6ooQdAiAhqXMGvO1DUjFp1GUChKo0%2FxqsFVahF0rzjBjNOd06RSqFBQgaEAEaDDQ2MzU3MjQ1NDc1OCIM9O6xKg2L5NltE2TFKuIEXH2sVgyzFCEHTiQkyXyF7n9KVkAEU4VUSn4F17kkeMjqHNijqo%2By0phcsa2aWPztX0LLqIHAFLLit2gnZ5aQfflYKic08bjl6JEDkdDZcBt2vM3mZwJgj2Dee9pcnvhrs9hWKR9CzgORw%2B5FdF6v5Z0lLbv9eDi1Dz%2BzsA%2FQgtcVM9CNMRUAFQb7YhpSwTafDU0m87wRVixmFaMSLbrRcyUAejlT9NrrCO%2Fa7uOjeYm88%2B6w9gz8CKdFIGPyO2MnehfGnJlCIAjV%2F%2BRUh3W7RRida5UueglLmQZPbK%2BlQNJPIKvvxx2%2FZFX1qntwu3Z8E6NRZJsXWxZ1qvHlzHzyRf8MPGJ9L0tWDZaotp%2FgtjODcTRMQbcXxNZivcjlmoRM1BADvXTQbHsXc39kln%2FMiJXLewcoyhuBEbbp4ajDu9ZfLdz%2BcyQB4FWzhTLgsE6jhjoNGpGyNHctPyuvWVO5lQ0K4VD2NOG9UkDYX0VQ0QNpZUSCkFOVNccU57%2FfXJggAYtYek90HVgPJ6Dhl6%2BrTIhLEeyyy9p0i9UKVeLvlpkkC6mk7qQUxVMBEqjlVG69pjI0c%2B9PfXidXhCDTOq9jf5cB2nFOwTRrGHaVjVY3iFwxAM%2FHCg%2B8XRe4no848vQ6e92c9DF68eJywxOHLwRvzrryW%2Bs6xRFK4IchC%2B6Hw7XoxS3T3nkJkNSxgYcX4MY0j8KQjYY3oJv91v%2BVFUQDKL791Cdx66YmNRdz01jAjIZu8huqRl6mIkptCWPGuwnJoBu0Djyh%2FRZCdNHep%2Bzn8CHd4hRB4Yg51ZGkcR8v3ZqcTDVzaCpBjqbAaV2%2Fwi7YnWxRvwot7thJgfjs5Xz8swfLEh5uTHAtGwLXu%2FpCKQWdQDsGdUsFg1dgqIMLqVEDrgmjMdYmfPsFtGV%2F81pwn0xqgOZRWZB8Nqdi0WtJLWqFngohYTRfg2iONTdN4bCLq5ckbyuUA1%2FY0XA%2BSPqx7jw3DfBXckU9dA%2BogyNNnmKClMqbPanuxA9%2Bb7nk0I%2BUar7%2FlSj&Expires=1697135086'
#sky_pollution = requests.get(skyPollu_url).json()

moon_URL = 'https://aa.usno.navy.mil/api/moon/phases/date?date=2023-10-24&nump=50'
moon_phases = requests.get(moon_URL).json()

In [3]:
weather_URL = 'https://api.openweathermap.org/data/2.5/weather?'

# get lat and long for best observation spots from sky_pollution, then plug them in here for weather
# for now just initialize at 0,0
lat = 0
lon = 0
weather_URL += f'lat={lat}&lon={lon}&appid={weather_api_key}'
weather = requests.get(weather_URL).json()

In [4]:
# at this point we need to figure out what data to keep from each file, then create a new json file
# for each url and join them together. There is probably a way to do this without needing
# to invoke pandas, but idk

In [5]:
# Light Pollution Data Base

# Used csv file to get data from 2022, tbd if we go this way or with a json file.
lightpol = pd.read_csv("Resources/GaN2022.csv")

# Clean LimitingMag data to only have > 0 values and dropping unwanted columns
lp_clean = lightpol.loc[(lightpol['LimitingMag']>=0)&
                        (lightpol['Latitude']!=0)&
                        (lightpol['Longitude']!=0)&
                        (lightpol['Country'].str.contains("United States")),
                        ['ObsDateTime','Latitude','Longitude','Elevation','LimitingMag','Constellation','Country']]

# Rename Limiting Mag column 

lp_clean = lp_clean.rename(columns={'LimitingMag':'NELM', 'Country':'State'})

# Change data types

lp_clean.Latitude = lp_clean.Latitude.astype('float')

# Save to CSV file to create SQL Database:
lp_clean.to_csv("Resources/lightpollution.csv", encoding='utf8', index=False)

lp_clean.head()

# Should we do something about the ObsDateTime and UTCOffset?

,ObsDateTime,Latitude,Longitude,Elevation,NELM,Constellation,State
7,2022-11-21 20:45:00+00:00,31.334094,-109.521212,1249.21,0,Canis Major,United States - Arizona
8,2022-11-21 20:36:00+00:00,31.334086,-109.503952,1258.78,0,Canis Major,United States - Arizona
9,2022-11-21 20:32:00+00:00,31.334107,-109.487273,1288.52,0,Canis Major,United States - Arizona
10,2022-11-21 20:26:00+00:00,31.334069,-109.470129,1311.26,5,Canis Major,United States - Arizona
11,2022-11-21 20:22:00+00:00,31.334055,-109.453368,1340.61,5,Canis Major,United States - Arizona

In [6]:

lp_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6085 entries, 7 to 19678
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ObsDateTime    6085 non-null   object
 1   Latitude       6085 non-null   float64
 2   Longitude      6085 non-null   float64
 3   Elevation      6085 non-null   float64
 4   NELM           6085 non-null   int64
 5   Constellation  6085 non-null   object
 6   State          6085 non-null   object
dtypes: float64(3), int64(1), object(3)
memory usage: 380.3+ KB

In [7]:
# Lat and lon filter, not considering Alaska or Hawaii

lp_cleanv2 = lp_clean.loc[(lp_clean['Latitude']>=25)&
                         (lp_clean['Latitude']<=50)&
                         (lp_clean['Longitude']>=-125)&
                         (lp_clean['Longitude']<=-65),:]

# Save to CSV file to create SQL Database:
lp_cleanv2.to_csv("Resources/lightpollution_v2.csv", encoding='utf8', index=False)

lp_cleanv2.head()

,ObsDateTime,Latitude,Longitude,Elevation,NELM,Constellation,State
7,2022-11-21 20:45:00+00:00,31.334094,-109.521212,1249.21,0,Canis Major,United States - Arizona
8,2022-11-21 20:36:00+00:00,31.334086,-109.503952,1258.78,0,Canis Major,United States - Arizona
9,2022-11-21 20:32:00+00:00,31.334107,-109.487273,1288.52,0,Canis Major,United States - Arizona
10,2022-11-21 20:26:00+00:00,31.334069,-109.470129,1311.26,5,Canis Major,United States - Arizona
11,2022-11-21 20:22:00+00:00,31.334055,-109.453368,1340.61,5,Canis Major,United States - Arizona

In [8]:
# Bortle Scale VS Limiting Magnitude Data Base

# Data scraping to get Bortle Scale vs Limiting Magnitude from Wikipedia

browser = Browser('chrome')
url = 'https://en.wikipedia.org/wiki/Bortle_scale'
browser.visit(url)
html = browser.html
browser.quit()
soup = BeautifulSoup(html, 'html.parser')
table = soup.find('table', class_='wikitable')
headers = [header.get_text().strip() for header in table.find_all('th')]
rows = table.find_all('tr')
tabledata = []
for row in rows:
    columns = row.find_all('td')
    rowdata = [column.get_text().strip() for column in columns]
    tabledata.append(rowdata)
    
# DataFrame for Bortle - NELM equivalence

bortledf = pd.DataFrame(tabledata, columns=headers)
bortledf_clean = bortledf.iloc[1:6,0:3]
bortledf_clean.head()

  Class                         Title     NELM
1     1        Excellentdark-sky site  7.6–8.0
2     2        Typical trulydark site  7.1–7.5
3     3                     Rural sky  6.6–7.0
4     4                Brighter rural  6.3–6.5
5   4.5  Semi-Suburban/Transition sky  6.1–6.3

In [9]:
# To do:
    # Turn NELM into two columns: Min NELM and Max NELM
    # Change data types
    # Save to csv

In [10]:
# Weather Data Frame (Hannah)

In [11]:
# Moon Data

browser = Browser('chrome')
url = 'https://aa.usno.navy.mil/calculated/moon/fraction?year=2022&task=00&tz=5&tz_sign=-1&tz_label=false&submit=Get+Data'
browser.visit(url)
html = browser.html
browser.quit()
soup = BeautifulSoup(html, 'html.parser')
tables = soup.find_all('table')
moontable = tables[1]
rows = moontable.find_all('tr')
tabledata2 = []
for row in rows:
    columns = row.find_all('td')
    rowdata = [column.get_text().strip() for column in columns]
    tabledata2.append(rowdata)
# Gets only the data we need
moondf = pd.DataFrame(tabledata2[2:],columns=tabledata2[1])
# Replaces '--' values and changes data types of the rest
moondf = moondf.replace('--', None)
moondf = moondf.astype('float')
# Saves into a CSV file
moondf.to_csv("Resources/moon_phases.csv", encoding='utf8', index=False)
# Shows data frame
moondf

,Day,Jan.,Feb.,Mar.,Apr.,May,June,July,Aug.,Sep.,Oct.,Nov.,Dec.
0,1.0,0.04,0.00,0.03,0.00,0.00,0.03,0.04,0.11,0.23,0.30,0.49,0.57
1,2.0,0.01,0.01,0.01,0.01,0.02,0.07,0.09,0.18,0.33,0.41,0.61,0.67
2,3.0,0.00,0.05,0.00,0.04,0.05,0.12,0.15,0.27,0.44,0.52,0.71,0.77
3,4.0,0.03,0.11,0.03,0.09,0.10,0.19,0.22,0.37,0.55,0.64,0.81,0.85
4,5.0,0.09,0.19,0.07,0.15,0.17,0.27,0.31,0.47,0.66,0.74,0.89,0.92
5,6.0,0.16,0.28,0.13,0.23,0.24,0.36,0.41,0.58,0.77,0.84,0.95,0.96
6,7.0,0.25,0.37,0.21,0.31,0.33,0.46,0.51,0.69,0.86,0.91,0.98,0.99
7,8.0,0.35,0.47,0.29,0.40,0.42,0.56,0.62,0.79,0.93,0.97,1.00,1.00
8,9.0,0.45,0.56,0.38,0.49,0.52,0.66,0.73,0.88,0.98,0.99,0.99,0.99
9,10.0,0.55,0.65,0.48,0.59,0.62,0.76,0.82,0.95,1.00,1.00,0.97,0.96
10,11.0,0.64,0.74,0.57,0.68,0.72,0.85,0.90,0.99,0.99,0.98,0.93,0.92
11,12.0,0.73,0.82,0.66,0.77,0.81,0.92,0.96,1.00,0.96,0.94,0.87,0.86
12,13.0,0.81,0.88,0.75,0.85,0.88,0.98,0.99,0.98,0.91,0.88,0.80,0.79
13,14.0,0.88,0.94,0.83,0.92,0.95,1.00,1.00,0.93,0.84,0.81,0.72,0.70
14,15.0,0.93,0.98,0.90,0.97,0.99,0.99,0.97,0.87,0.75,0.73,0.63,0.61
15,16.0,0.97,1.00,0.95,0.99,1.00,0.95,0.91,0.79,0.66,0.64,0.53,0.52
16,17.0,0.99,1.00,0.98,1.00,0.98,0.89,0.84,0.70,0.57,0.55,0.44,0.42
17,18.0,1.00,0.97,1.00,0.97,0.94,0.81,0.74,0.60,0.47,0.46,0.34,0.32
18,19.0,0.98,0.93,0.99,0.92,0.87,0.71,0.64,0.50,0.38,0.36,0.25,0.22
19,20.0,0.95,0.87,0.96,0.85,0.78,0.60,0.54,0.40,0.29,0.27,0.17,0.14
20,21.0,0.90,0.79,0.90,0.75,0.68,0.49,0.44,0.31,0.21,0.19,0.10,0.07
21,22.0,0.83,0.69,0.82,0.65,0.56,0.39,0.34,0.23,0.14,0.12,0.04,0.02
22,23.0,0.75,0.58,0.73,0.53,0.45,0.29,0.25,0.15,0.08,0.06,0.01,0.00
23,24.0,0.65,0.47,0.62,0.42,0.35,0.21,0.18,0.09,0.03,0.02,0.00,0.01
24,25.0,0.54,0.36,0.50,0.31,0.25,0.13,0.11,0.05,0.01,0.00,0.02,0.05
25,26.0,0.43,0.25,0.39,0.22,0.17,0.08,0.06,0.01,0.00,0.01,0.07,0.12
26,27.0,0.32,0.16,0.28,0.14,0.10,0.03,0.02,0.00,0.02,0.04,0.15,0.20
27,28.0,0.22,0.08,0.19,0.07,0.05,0.01,0.00,0.01,0.06,0.10,0.24,0.30
28,29.0,0.13,NaN,0.11,0.03,0.02,0.00,0.00,0.04,0.12,0.18,0.34,0.41
29,30.0,0.06,NaN,0.05,0.00,0.00,0.01,0.02,0.08,0.20,0.27,0.46,0.52
30,31.0,0.02,NaN,0.01,NaN,0.01,NaN,0.06,0.15,NaN,0.38,NaN,0.62