In [1]:
import requests
from api_keys import weather_api_key
import pandas as pd
import numpy as np
import datetime as dt
from splinter import Browser
from bs4 import BeautifulSoup
pd.set_option('max_colwidth', 400)

In [2]:
# json requests:

#skyPollu_url = 'https://s3.us-west-2.amazonaws.com/noirlab.edu.cee.prod/globeatnight/documents/GaN2022.json?AWSAccessKeyId=ASIAWX3YSJVTMEO7IUGI&Signature=QYJv5wjvxSZ%2BFhmSsE%2B0ji30sZo%3D&x-amz-security-token=IQoJb3JpZ2luX2VjEAEaCXVzLXdlc3QtMiJGMEQCID3Y7FrRLzLZtxrC0KnS19zZALc%2B8sETmEAycNb6ooQdAiAhqXMGvO1DUjFp1GUChKo0%2FxqsFVahF0rzjBjNOd06RSqFBQgaEAEaDDQ2MzU3MjQ1NDc1OCIM9O6xKg2L5NltE2TFKuIEXH2sVgyzFCEHTiQkyXyF7n9KVkAEU4VUSn4F17kkeMjqHNijqo%2By0phcsa2aWPztX0LLqIHAFLLit2gnZ5aQfflYKic08bjl6JEDkdDZcBt2vM3mZwJgj2Dee9pcnvhrs9hWKR9CzgORw%2B5FdF6v5Z0lLbv9eDi1Dz%2BzsA%2FQgtcVM9CNMRUAFQb7YhpSwTafDU0m87wRVixmFaMSLbrRcyUAejlT9NrrCO%2Fa7uOjeYm88%2B6w9gz8CKdFIGPyO2MnehfGnJlCIAjV%2F%2BRUh3W7RRida5UueglLmQZPbK%2BlQNJPIKvvxx2%2FZFX1qntwu3Z8E6NRZJsXWxZ1qvHlzHzyRf8MPGJ9L0tWDZaotp%2FgtjODcTRMQbcXxNZivcjlmoRM1BADvXTQbHsXc39kln%2FMiJXLewcoyhuBEbbp4ajDu9ZfLdz%2BcyQB4FWzhTLgsE6jhjoNGpGyNHctPyuvWVO5lQ0K4VD2NOG9UkDYX0VQ0QNpZUSCkFOVNccU57%2FfXJggAYtYek90HVgPJ6Dhl6%2BrTIhLEeyyy9p0i9UKVeLvlpkkC6mk7qQUxVMBEqjlVG69pjI0c%2B9PfXidXhCDTOq9jf5cB2nFOwTRrGHaVjVY3iFwxAM%2FHCg%2B8XRe4no848vQ6e92c9DF68eJywxOHLwRvzrryW%2Bs6xRFK4IchC%2B6Hw7XoxS3T3nkJkNSxgYcX4MY0j8KQjYY3oJv91v%2BVFUQDKL791Cdx66YmNRdz01jAjIZu8huqRl6mIkptCWPGuwnJoBu0Djyh%2FRZCdNHep%2Bzn8CHd4hRB4Yg51ZGkcR8v3ZqcTDVzaCpBjqbAaV2%2Fwi7YnWxRvwot7thJgfjs5Xz8swfLEh5uTHAtGwLXu%2FpCKQWdQDsGdUsFg1dgqIMLqVEDrgmjMdYmfPsFtGV%2F81pwn0xqgOZRWZB8Nqdi0WtJLWqFngohYTRfg2iONTdN4bCLq5ckbyuUA1%2FY0XA%2BSPqx7jw3DfBXckU9dA%2BogyNNnmKClMqbPanuxA9%2Bb7nk0I%2BUar7%2FlSj&Expires=1697135086'
#sky_pollution = requests.get(skyPollu_url).json()

moon_URL = 'https://aa.usno.navy.mil/api/moon/phases/date?date=2023-10-24&nump=50'
moon_phases = requests.get(moon_URL).json()

In [3]:
weather_URL = 'https://api.openweathermap.org/data/2.5/weather?'

# get lat and long for best observation spots from sky_pollution, then plug them in here for weather
# for now just initialize at 0,0
lat = 0
lon = 0
weather_URL += f'lat={lat}&lon={lon}&appid={weather_api_key}'
weather = requests.get(weather_URL).json()

In [4]:
# at this point we need to figure out what data to keep from each file, then create a new json file
# for each url and join them together. There is probably a way to do this without needing
# to invoke pandas, but idk

In [14]:
# Light Pollution Data Base

# Used csv file to get data from 2022, tbd if we go this way or with a json file.
lightpol = pd.read_csv("Resources/GaN2022.csv")

# Clean LimitingMag data to only have > 0 values and dropping unwanted columns
lp_clean = lightpol.loc[(lightpol['LimitingMag']>=0)&
                        (lightpol['Latitude']!=0)&
                        (lightpol['Longitude']!=0)&
                        (lp_clean['Country'].str.contains("United States")),
                        ['ObsDateTime','Latitude','Longitude','Elevation','LimitingMag','Constellation','Country']]

# Save to CSV file to create SQL Database:
lp_clean.to_csv("Resources/lightpollution.csv", encoding='utf8', index=False)

lp_clean.head()

# Are there any other columns we should drop? Or keep?
# Should we do something about the ObsDateTime and UTCOffset?

,ObsDateTime,Latitude,Longitude,Elevation,LimitingMag,Constellation,Country
7,2022-11-21 20:45:00+00:00,31.334094,-109.521212,1249.21,0,Canis Major,United States - Arizona
8,2022-11-21 20:36:00+00:00,31.334086,-109.503952,1258.78,0,Canis Major,United States - Arizona
9,2022-11-21 20:32:00+00:00,31.334107,-109.487273,1288.52,0,Canis Major,United States - Arizona
10,2022-11-21 20:26:00+00:00,31.334069,-109.470129,1311.26,5,Canis Major,United States - Arizona
11,2022-11-21 20:22:00+00:00,31.334055,-109.453368,1340.61,5,Canis Major,United States - Arizona

In [12]:
lpclean_v2 = lp_clean.loc[(lp_clean['Country'].str.contains("United States")),:]
len(lpclean_v2)

6085

In [25]:
# Bortle Scale VS Limiting Magnitude Data Base

# Data scraping to get Bortle Scale vs Limiting Magnitude from Wikipedia

browser = Browser('chrome')
url = 'https://en.wikipedia.org/wiki/Bortle_scale'
browser.visit(url)
html = browser.html
browser.quit()
soup = BeautifulSoup(html, 'html.parser')
table = soup.find('table', class_='wikitable')
headers = [header.get_text().strip() for header in table.find_all('th')]
rows = table.find_all('tr')
tabledata = []
for row in rows:
    columns = row.find_all('td')
    rowdata = [column.get_text().strip() for column in columns]
    tabledata.append(rowdata)
    
# DataFrame for Bortle - NELM equivalence

bortledf = pd.DataFrame(tabledata, columns=headers)
bortledf_clean = bortledf.iloc[1:6,0:3]
bortledf_clean.head()

  Class                         Title     NELM
1     1        Excellentdark-sky site  7.6–8.0
2     2        Typical trulydark site  7.1–7.5
3     3                     Rural sky  6.6–7.0
4     4                Brighter rural  6.3–6.5
5   4.5  Semi-Suburban/Transition sky  6.1–6.3

In [26]:
bortledf_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 1 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Class   5 non-null      object
 1   Title   5 non-null      object
 2   NELM    5 non-null      object
dtypes: object(3)
memory usage: 252.0+ bytes

In [ ]:
# Weather Data Frame